<!DOCTYPE html>
    <head>
        <title>BeansBot</title>
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="description" content="AI-powered chatbot that LOVES beans!">
        <meta name="keywords" content="beans, chatbot, beanbot, beansbot, beanman, ai, openai">
        <meta name="author" content="Charlie Lyons">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a href="/">BeansBot</a>
            <a href="about">About</a>
        </nav>
        <div class="card"></div>
    </body>
</html>