<!DOCTYPE html>
    <head>
        <title>BeansBot</title>
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="description" content="AI-powered chatbot that LOVES beans!">
        <meta name="keywords" content="beans, chatbot, beanbot, beansbot, beanman, ai, openai">
        <meta name="author" content="Charlie Lyons">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="card" id="beansbot-display">
            <h1>BeansBot</h1>
            <img src="/beansbot_v2.png" />
        </section>
       
        <section class="card" id="chat">
            <form onsubmit="sendMessage()">
                <input id="message-box" autocomplete="off" />
                <input type="submit" id="talk-button" value="Send"/>
            </form>
            <div id="chat-log">
        </section>
        
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
        <script src="beansbot.js"></script>
    </body>
</html>
