<!DOCTYPE html>
    <head>
        <title>BeansBot</title>  
    </head>
    <body>
        <h1>BeansBot</h1>
        <form onsubmit="sendMessage()">
            <input id="message-box" autocomplete="off" />
            <input type="submit" id="talk-button" value="Send"/>
        </form>
        <div id="chat-log" />
        
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
        <script src="beansbot.js"></script>
    </body>
</html>
